<!-- ベーステンプレートを適用する -->
{% extends 'base.html' %}
<!-- ヘッダー情報のページタイトルを設定する -->
{% block title %}News Delete{% endblock %}

    {% block contents %}
    <!-- Bootstrapのグリッドシステム -->
    <br>
    <div class="container">
        <!-- 行を配置 -->
        <div class="row" align="center">
                <form method="POST">
                  <br>
                  <h3>削除しますか？</h3>
                  <br>
                  {% csrf_token %}
                </form>
        </div>
        
        <button class="btn btn-outline-danger col-3 offset-2"
        type="submit">削除</button>
        
        <a href="{% url 'photo:photo_detail' object.pk %}"
        class="btn btn-outline-secondary col-3 offset-2">キャンセル</a>
    </div>
    {% endblock %}